[Unit]
Description=Macrocoin's distributed currency daemon
After=network.target

[Service]
User=macrocoin
Group=macrocoin

Type=forking
PIDFile=/var/lib/macrocoind/macrocoind.pid

ExecStart=/usr/bin/macrocoind -daemon -pid=/var/lib/macrocoind/macrocoind.pid \
          -conf=/etc/macrocoin/macrocoin.conf -datadir=/var/lib/macrocoind

ExecStop=-/usr/bin/macrocoin-cli -conf=/etc/macrocoin/macrocoin.conf \
         -datadir=/var/lib/macrocoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
